.body{
    margin:0;
    padding: 0;
    background-color: white;
}
.Meet{
    text-align: center;
}
.Gif{
    align-items: center;
    position: relative;
    padding: 0px 580px;
}
.gif{
    position: absolute;
    align-items: center;   
}
.line{
    width: 100%;
    height: 1px;
    background-color: grey;
}
.last{
    text-align: center;
}
.little{
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.look{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
} 